@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

*{
    font-family: Arial, Helvetica, sans-serif;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#who-are-we{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin-top: 50px;
    font-size: 2vh;
}

#photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#joloco{
    background-image: url("src/joloco.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}
#joloco-2{
    background-image: url("src/joloco-2.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}
#adrian{
    background-image: url("src/adrian.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}
#adrian-2{
    background-image: url("src/adrian-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}
#marc{
    background-image: url("src/marc.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}
#marc-2{
    background-image: url("src/marc-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}
.flip-scale-up-hor:hover {
    -webkit-animation: flip-scale-up-hor 0.5s linear both;
            animation: flip-scale-up-hor 0.5s linear both;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}

#desc-text{
    text-align: justify;
}
.flip-card {
    background-color: transparent;
    width: 15vw;
    height: 15vw;
    perspective: 1000px;
    margin:35px;
    min-width: 35vh;
    min-height: 35vh;
    font-size: 2vh;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
  
.flip-card-back {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
#black{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.575);
    width: 80%;
    height: 60%;
    border-radius: 25px;
}