@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

*{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    /* background-image: url(src/triforce-gray.png); */
    background-color: rgb(255, 255, 255);
    background-size: 50px;
    margin: 0;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    position: sticky;
    width: 100%;
    top:0;
    background-image: url(src/triforce-green.png);
    background-repeat: repeat;
    background-size: 30px;
}
#page{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 1%;
}
#navigator{
    width: 20%;
    height: 100vh;
    z-index: 0;
    color:rgb(0, 0, 0);
    background-image: url(src/triforce-yellow.png);
    background-color: rgb(217, 159, 0);
    background-size: 50px;
    top: 80px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navigator-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navigator b{
    padding-left: 40px;
}
.nav-element{
    background-color: rgba(255, 136, 0,0.5);
    padding: 10px;
    color:white;
    text-decoration: none;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    transition: 0.3s;
}
.nav-element:hover{
    /* background-color: black; */
    opacity: 0.5;
}
.container{
    width: 80%;
}
.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-inner{
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    margin: 20px;
}
#inner-list *{
    margin-bottom: 10px;
}

footer{
    z-index: 1;
}
.container-images{
    display: flex;
    flex-direction: row;
}
.container-image{
    margin: 15px;
}