@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

*{
    font-family: Arial, Helvetica, sans-serif;
}

#body{
    background-image: url(src/triforce-gray.png);
    background-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#maps-title{
    background-image: url(src/maps-portada.jpg);
}
#enemies-title{
    background-image: url(src/enemies-portada.jpeg);   
}
.section-title{
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.section-title-text{
    margin: 100px;
}

.section-elements{
    max-width: 80%;
}

.map-photo{
    width: 50%;
    margin: 15px;
    border-radius: 20px;
}

#hyrule{
    background-color: rgba(15, 180, 0,0.6);
}

#gerudo{
    background-color: rgba(255, 208, 0, 0.6);
}
#necluda{
    background-color: rgba(0, 149, 255, 0.6);
}
#death-mountain{
    background-color: rgba(255, 0, 0, 0.6);
}

.map{
    transform: translateX(-3000px);
    border: solid white 2px;
    border-radius: 30px;
    display: flex;
    padding: 35px;
    margin: 35px;
    animation: left-to-right 2s forwards 0.3s;
    align-items: center;
}
@keyframes left-to-right {
    100% {transform: translateX(0px);}
}