@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

body{
    background-image: url("src/maxresdefault.jpg");
    margin: 0;

}
.sticky{
    position: sticky;
}
.game-description{
    background-image: url(src/game-description-background.png);
    justify-content: center;
    display: flex;
    padding: 10%;
    padding-left: 40vh;
    padding-right: 40vh;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
    z-index: -1;
}
.game-background{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin: 10%;
}
.game-text {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    padding: 100%;
  }
.main-boxes{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-style: none;
    border: solid;
    padding: 20%;
    font-family: 'The Wild Breath of Zelda', sans-serif;
}
a.small-box:link, a.small-box:visited{
    border: solid;
    background-color: red;
    opacity: 0.7;
    width: 40%;
    height: 40%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color:black;
}

a.small-box:hover{
    opacity: 1;
    transition: 0.5s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
}


@media screen {
    
}