@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

body{
    background-image: url("src/maxresdefault.jpg");
    margin: 0;
}
.options{
    align-items: center;
    font-family: 'The Wild Breath of Zelda', sans-serif;
    font-size: 60px;
    text-decoration: none;
    /* justify-content: space-evenly; */
    display: flex;
    flex-wrap:nowrap;
    /* margin: 6%; */
}
a:link{
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 300px;
    padding-top: 10%;
}
.game-box{
    width: 33vw;
    height: 60vh;
    box-sizing: content-box;
    border-right: solid 2px;
    transition: 0.5s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-box:hover{
    width: 40vw;
}
#game-options{
    background-image: url(src/zelda-background1.jpg);
    background-size: cover;
    background-position: center;
}
#game-sections{
    background-image: url(src/zelda-background3.jpg);
    background-size: cover;
    background-position: center;
}
#game-info{
    background-image: url(src/zelda-background2.jpg);
    background-size: cover;
    background-position: center;
}
.sticky{
    top: 0;
    position: sticky;
}